---
import { getCollection } from 'astro:content'

import { CONFIG_ORDER, orderIndex } from '../../data/collections'
import ContentLayout from '../../layouts/Content.astro'

let configs = await getCollection('configs')
configs.sort(
  (a, b) => orderIndex(CONFIG_ORDER, a.id) - orderIndex(CONFIG_ORDER, b.id),
)
---

<ContentLayout
  keywords={[
    'eslint',
    'eslint configurations',
    'eslint plugin',
    'code style',
    'coding standards',
    'config options',
    'code quality',
    'javascript linting',
    'linting configurations',
    'eslint setup',
  ]}
  description="Discover our list of ready-to-use ESLint Plugin Perfectionist configurations. Enhance your coding standards and maintain a consistent code style with our carefully curated config options."
  path={[
    {
      href: '/configs',
      name: 'Configs',
    },
  ]}
  title="Configs"
>
  <h1>Configs</h1>
  <p>
    The easiest way to use eslint-plugin-perfectionist is to use ready-made
    configs. Config files use all the rules of the current plugin, but you can
    override them.
  </p>

  <p>This plugin provides three configs out of the box.</p>

  <p>
    See the <a
      href="https://eslint.org/docs/latest/use/configure/configuration-files#extending-configuration-files"
      >ESLint docs</a
    > for more information about extending config files.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Config</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {
        configs.map(config => (
          <tr>
            <td>
              <a href={`/configs/${config.id}`}>{config.data.title}</a>
            </td>
            <td>{config.data.shortDescription}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</ContentLayout>

<style>
  .definition {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--space-xs);
    align-items: center;
    margin-block: var(--space-m);
  }

  .table {
    margin-block-start: var(--space-xl);
  }
</style>
