---
import { fade } from 'astro:transitions'

interface Props {
  class?: string
}

let { props } = Astro
---

<body
  transition:animate={fade({
    duration: '100ms',
  })}
  {...props}
>
  <slot />
</body>
