---
import { getLocaleFromUrl } from '../utils/get-locale-from-url'
import { useTranslations } from '../utils/use-translations'
import GithubLineIcon from '../icons/github-line.astro'
import TranslateIcon from '../icons/translate.astro'
import LocaleSelect from './locale-select.svelte'
import ThemeToggle from './theme-toggle.astro'
import Logo from './logo.astro'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale)
---

<header class="header">
  <a href="/" class="home-link" aria-label="Perfectionist home page">
    <Logo class="logo" />
    <span>Perfectionist</span>
  </a>
  <nav class="nav">
    <a href="#" class="nav-link">{t('guide')}</a>
    <a href="#" class="nav-link">{t('configs')}</a>
    <a href="#" class="nav-link">{t('rules')}</a>
    <hr class="hr" />
    <div class="nav-link-wrapper">
      <button id="locale-select" class="nav-link">
        <TranslateIcon class="icon" />
      </button>
      <LocaleSelect client:load />
    </div>
    <hr class="hr" />
    <ThemeToggle class="nav-link" />
    <hr class="hr" />
    <a
      class="nav-link"
      href="https://github.com/azat-io/eslint-plugin-perfectionist"
      target="_blank"
    >
      <GithubLineIcon class="icon" />
    </a>
  </nav>
</header>

<style>
  .header {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 32px;
    color: var(--color-content-primary);
    background: var(--color-background-primary);
  }

  .home-link {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
    outline: none;
    transition: background 200ms ease-in-out;
  }

  .logo {
    inline-size: 48px;
    block-size: 48px;
    padding: 2px;
  }

  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .nav-link-wrapper {
    position: relative;
  }

  .nav-link {
    display: flex;
    padding: 0;
    padding: 12px;
    color: inherit;
    text-decoration: none;
    background: transparent;
    border: 0;
    border-radius: 6px;
    outline: none;
  }

  .nav-link:hover,
  .nav-link:focus-visible,
  .home-link:focus-visible {
    background: var(--color-background-primary-hover);
  }

  .hr {
    inline-size: 1px;
    block-size: 28px;
    margin-block: 4px;
    background: var(--color-background-primary-hover);
    border: none;
  }

  .icon {
    inline-size: 28px;
    block-size: 28px;
  }
</style>
