---
import Logo from './logo.astro'
---

<header class="header">
  <a href="/" class="home-link" aria-label="Perfectionist home page">
    <Logo class="logo" />
    <span>Perfectionist</span>
  </a>
  <nav class="nav">
    <a href="#" class="nav-link">Guide</a>
    <a href="#" class="nav-link">Configs</a>
    <a href="#" class="nav-link">Rules</a>
  </nav>
</header>

<style>
  .home-link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 32px;
    color: oklch(100% 0 0);
    background: oklch(23.5% 0 286);
  }

  .logo {
    inline-size: 48px;
    block-size: 48px;
    padding: 2px;
  }

  .nav {
    display: flex;
    gap: 20px;
  }

  .nav-link {
    color: inherit;
    text-decoration: none;
  }
</style>
