---
import Container from './container.astro'
import Logo from './logo.astro'
---

<div class="hero">
  <Container class="hero-content">
    <Logo class="logo" />
    <h1 class="title">Perfectionist</h1>
    <p class="subtitle">Take Your Code to the Beauty Salon</p>
    <div class="lines lines-left">
      <div class="line line-left line-l"></div>
      <div class="line line-left line-m"></div>
      <div class="line line-left line-s"></div>
    </div>
    <div class="lines lines-right">
      <div class="line line-right line-l"></div>
      <div class="line line-right line-m"></div>
      <div class="line line-right line-s"></div>
    </div>
  </Container>
</div>

<style>
  :root {
    --line-margin: clamp(15.625rem, 18.75vi + 10rem, 25rem);
    --line-step: clamp(1.5rem, 9.5vi + -1.35rem, 6.25rem);
  }

  .hero {
    position: relative;
    padding-block: 48px 160px;
    color: oklch(100% 0 0);
    background: oklch(23.5% 0 286);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    inline-size: 200px;
    block-size: 200px;
  }

  .title,
  .subtitle {
    margin-block: 0;
  }

  .lines {
    position: absolute;
    inset-block-start: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    block-size: 100%;
    padding-block: 48px 160px;
    transform: translateY(-50%);
  }

  .lines-left {
    inset-inline-start: 0;
    align-items: start;
  }

  .lines-right {
    inset-inline-end: 0;
    align-items: end;
  }

  .line {
    block-size: 64px;
    background: oklch(26.5% 0 286);
  }

  .line-left {
    border-radius: 0 6px 6px 0;
  }

  .line-right {
    border-radius: 6px 0 0 6px;
  }

  .line-l {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step));
  }

  .line-m {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step) * 2);
  }

  .line-s {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step) * 3);
  }
</style>
