---
import { getLocaleFromUrl } from '../utils/get-locale-from-url'
import { useTranslations } from '../utils/use-translations'
import Container from './container.astro'
import Logo from './logo.astro'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale)
---

<div class="hero">
  <Container class="hero-content">
    <Logo class="logo" />
    <h1 class="title">Perfectionist</h1>
    <p class="subtitle">{t('slogan')}</p>
    <div class="button-group">
      <a class="button button-primary" href="#">
        {t('get-started')}
      </a>
      <a class="button button-secondary" href="#">{t('view-on-github')}</a>
      <div class="lines lines-left">
        <div class="line line-left line-l"></div>
        <div class="line line-left line-m"></div>
        <div class="line line-left line-s"></div>
      </div>
      <div class="lines lines-right">
        <div class="line line-right line-l"></div>
        <div class="line line-right line-m"></div>
        <div class="line line-right line-s"></div>
      </div>
    </div>
  </Container>
</div>

<style>
  :root {
    --line-margin: clamp(15.625rem, 18.75vi + 10rem, 25rem);
    --line-step: clamp(1.5rem, 9.5vi + -1.35rem, 6.25rem);
  }

  .hero {
    position: relative;
    padding-block: 48px 140px;
    color: var(--color-content-primary);
    background: var(--color-background-primary);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    inline-size: 200px;
    block-size: 200px;
  }

  .title,
  .subtitle {
    margin-block: 0;
  }

  .button-group {
    display: flex;
    gap: 20px;
    margin-block-start: 32px;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    inline-size: 200px;
    block-size: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-content-primary);
    text-decoration: none;
    background: var(--color-background-primary-hover);
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
  }

  .button-primary {
    color: oklch(100% 0 0);
    background: var(--color-brand);
  }

  .lines {
    position: absolute;
    inset-block-start: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    block-size: 512px;
    padding-block: 0 180px;
    transform: translateY(-50%);
  }

  .lines-left {
    inset-inline-start: 0;
    align-items: start;
  }

  .lines-right {
    inset-inline-end: 0;
    align-items: end;
  }

  .line {
    block-size: 64px;
    background: var(--color-background-primary-hover);
  }

  .line-left {
    border-radius: 0 6px 6px 0;
  }

  .line-right {
    border-radius: 6px 0 0 6px;
  }

  .line-l {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step));
  }

  .line-m {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step) * 2);
  }

  .line-s {
    inline-size: calc((100vi - var(--line-margin)) / 2 - var(--line-step) * 3);
  }
</style>
