---
import { Code } from 'astro:components'

import Container from './container.astro'
---

<section class="section">
  <Container>
    <h2 class="title">Installation</h2>
    <Code
      code="npm install --save-dev eslint-plugin-perfectionist"
      theme="css-variables"
      lang="bash"
    />
  </Container>
</section>

<style>
  .section {
    padding-block: 120px;
    background: var(--color-background-secondary);
  }

  .title {
    margin-block: 0;
    text-align: center;
  }
</style>
