---
import Typography from '../components/Typography.astro'
import LayoutBlank from '../layouts/Blank.astro'
import Title from '../components/Title.astro'
---

<LayoutBlank>
  <div class="wrapper">
    <Title>Page not Found</Title>
    <Typography align="center">
      Back to <a href="/">Home</a>.
    </Typography>
  </div>
</LayoutBlank>

<script>
  {
    let tracked = false

    if (globalThis.fathom) {
      globalThis.fathom.trackEvent('view: 404 page')
      tracked = true
    }

    if (!tracked) {
      document.addEventListener(
        'astro:page-load',
        () => {
          if (!tracked && globalThis.fathom) {
            globalThis.fathom.trackEvent('view: 404 page')
            tracked = true
          }
        },
        { once: true },
      )
    }
  }
</script>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    block-size: 100vb;
    background: var(--color-background-secondary);
    transform: translateY(calc(0px - var(--space-l)));
  }
</style>
