---
import Installation from '../components/installation.astro'
import Header from '../components/header.astro'
import Head from '../components/head.astro'
import Hero from '../components/hero.astro'
---

<html lang="en">
  <Head description="ESLint Plugin Perfectionist" />
  <body>
    <Header />
    <Hero />
    <Installation />
  </body>
</html>
