---
import Installation from '../components/installation.astro'
import DemoWrapper from '../components/demo-wrapper.astro'
import Header from '../components/header.astro'
import Demo from '../components/demo.svelte'
import Head from '../components/head.astro'
import Hero from '../components/hero.astro'
---

<html lang="en">
  <Head description="ESLint Plugin Perfectionist" />
  <body>
    <Header />
    <Hero />
    <Installation />
    <DemoWrapper>
      <Demo client:load />
    </DemoWrapper>
  </body>
</html>
