::selection {
  color: oklch(95% 0 286);
  background-color: oklch(44.8% 0.211 281 / 99%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Co Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
}

button {
  appearance: button;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
}

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
