@font-face {
  font-family: 'Museo Sans Rounded';
  font-weight: 400;
  src: url('/fonts/museo-sans-rounded-regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  font-weight: 700;
  src: url('/fonts/museo-sans-rounded-bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/monaspace-neon.woff2');
  font-display: swap;
}
