---
import Head from '../components/Head.astro'
import Html from '../components/Html.astro'
import Body from '../components/Body.astro'
---

<Html>
  <Head type="website" description="" />
  <Body>
    <slot />
  </Body>
</Html>
