---
import Body from '../components/Body.astro'
import Head from '../components/Head.astro'
import Html from '../components/Html.astro'
---

<Html>
  <Head description="" type="website" />
  <Body>
    <slot />
  </Body>
</Html>
