---
import TableOfContentsHeading from './TableOfContentsHeading.astro'
import Typography from '../Typography.astro'

interface Heading {
  depth: number
  text: string
  slug: string
}

type HeadingWithSubheadings = { subheadings: Heading[] } & Heading

interface Props {
  headings?: Heading[] | undefined
}

let { headings } = Astro.props

function buildToc(headingsValues?: Heading[]): HeadingWithSubheadings[] {
  if (!headingsValues) {
    return []
  }
  let toc: HeadingWithSubheadings[] = []
  let parentHeadings = new Map<number, HeadingWithSubheadings>()
  for (let headingsValue of headingsValues) {
    let heading: { subheadings: Heading[] } & Heading = {
      ...headingsValue,
      subheadings: [],
    }
    parentHeadings.set(heading.depth, heading)
    if (heading.depth === 2) {
      toc.push(heading)
    } else {
      parentHeadings.get(heading.depth - 1)?.subheadings.push(heading)
    }
  }
  return toc
}

let toc = buildToc(headings)
---

{
  toc.length > 0 && (
    <div class="table-of-content">
      <Typography class="title" tag="h2" size="m" mbs="s">
        {' '}
        Table of Contents{' '}
      </Typography>
      <ul class="list">
        {toc.map(heading => (
          <TableOfContentsHeading heading={heading} />
        ))}
      </ul>
    </div>
  )
}

<script type="module" lang="ts" is:inline>
  import { setupTableOfContents } from './table-of-contents.client'

  setupTableOfContents()
</script>

<style>
  .table-of-content {
    position: sticky;
    inset-block-start: var(--header-block-size);
    display: none;
    flex-direction: column;
    inline-size: 320px;
    max-block-size: calc(100dvb - var(--header-block-size));
    padding: var(--space-s);
    overflow: scroll;
    scrollbar-width: none;

    @media (width >= 1300px) {
      display: flex;
    }
  }

  .title {
    padding: var(--space-2xs) var(--space-xs);
    font-family: var(--font-family-title);
  }

  .list {
    inline-size: 100%;
    padding-inline-start: 0;
    margin-block: 0;
    list-style-type: none;
  }
</style>
