---
import { DESCRIPTION, BENEFITS } from '../../data/home'
import AboutElement from './AboutElement.astro'
import Typography from '../Typography.astro'
import Container from '../Container.astro'
import Title from '../Title.astro'
---

<section class="about">
  <Container
    class="about-container"
    size="m"
  >
    <Title>ESLint Plugin</Title>
    <Typography
      align="center"
      class="info"
      size="l"
      mbe="m"
    >
      {DESCRIPTION}
    </Typography>
    <div class="data">
      {BENEFITS.map(benefit => <AboutElement {...benefit} />)}
    </div>
  </Container>

  <style>
    .about {
      padding-block: 64px;
      background: var(--color-background-secondary);

      @container (inline-size >= 560px) {
        padding-block: 64px 120px;
      }
    }

    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .info {
      max-inline-size: 768px;
    }

    .data {
      display: grid;
      grid-template-columns: repeat(var(--columns), [column] 1fr);
      gap: var(--space-l);
      margin-block-start: var(--space-xl);
      --columns: 1;

      @container (inline-size >= 560px) {
        --columns: 2;
      }

      @container (inline-size >= 1020px) {
        --columns: 4;
      }
    }
  </style>
</section>
