---
import IconColorPalette from '../../icons/color-palette.svg'
import IconRocketShip from '../../icons/rocket-ship.svg'
import Typography from '../Typography.astro'
import IconCode from '../../icons/code.svg'
import IconTool from '../../icons/tool.svg'

interface Props {
  description: string
  title: string
  icon: string
}

let { description, title, icon } = Astro.props

let icons = {
  'color-palette': IconColorPalette,
  'rocket-ship': IconRocketShip,
  code: IconCode,
  tool: IconTool,
}

let Icon = icons[icon as keyof typeof icons]
---

<section class="element">
  <Icon class="icon" />
  <Typography size="xl" tag="h3">{title}</Typography>
  <Typography size="s">{description}</Typography>
</section>

<style>
  .element {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-l) var(--space-m);
    background: var(--color-background-secondary-hover);
    border: 2px solid var(--color-background-secondary-hover);
    border-radius: var(--border-radius);
  }

  .icon {
    inline-size: var(--size-icon-l);
    block-size: var(--size-icon-l);
    margin-block-end: var(--space-xs);
  }
</style>
